
.clients {
    width: 85%;
    height: auto;
}
.customerEngIImg {
    width: 100%;
}



.possTextWrapper h2{
    font-weight: 600;
    width: 60%;
}
.possTextWrapper p{
    color: 111111;
    margin-top: 1rem;
}

.possimg {
    width:90%;
}

.posstitle h4{
    text-transform: capitalize;
    font-weight: bold;
}

.possSection  {
    margin-top: 3rem;
    padding: 5rem;
    background: #F7F2F1;
}

.txtbold {
    color: #D71920;
}

.personalised {
    padding: 10px 20px;
    background-color: #FDB913;
    color: #000000;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Loyalty {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #B9B9B9;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 16px;
}

/* .loyaltymanagment {

} */

.Engagementslider {
    height: 60vh;
    display: block;
    margin: 3rem 0;
}

.loyalityul {
    margin: 0;
    padding: 0;
}

.loyalityul li{
    list-style: none;
    font-size: 1.2rem;
    font-weight: 550;
    margin: 1rem 0;
}

.sliderWrapper {
    position: relative;
    z-index: 1;
    margin: 1rem;
}

.macbookWall {
    background: url('.././assets//macbook.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 79%;
    height: 60%;
}


.slioderTxt {
    position: absolute;
    z-index: 1;
    top: 8rem;
    color: white;
    right: 0;
    width: 91%;
}

.slioderTxt h6 {
    font-size: 20px;
    font-weight: bold;
}
.slioderTxt span {
    font-size: 1rem;
    font-weight: bold;
}

.mainwrapper {
    margin-top: 3rem;
}

.slidertextWrapper {
    text-align: center;
    margin-top: 2.5rem;
}

.accordion-item {
    margin: 1.2rem;
    border: none;
    border-bottom: 1px solid #e3e3e3;
}
.accordion-item:focus{
    border: none;
    outline: none;
}

.accordion-item:first-of-type .accordion-button {
    background: #F7F2F1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.accordion-button:focus {
    border: none;
}

button:focus:not(:focus-visible) {
    border: none;
    border-color: transparent;
}



.accordion-button:not(.collapsed)::after {
    color: #F7F2F1;
}

.accordion-button:not(.collapsed) {
    background: #F7F2F1;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.accordianName {
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: bold;
}

.wearenotaloneWrapper {
    padding: 33px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
    height: 8rem;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.wearenotaloneWrapper::before {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, #BB6868 0%, #DD8738 100%);
    height: 8rem;
    width: 5px;
    left: -20px;
    border-radius: 10px;
    top: 0rem;
}

.weAreNotAloneSecton {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.weAreNotAloneTxt {
    font-size: 18px;
    margin-left: 14px;
    font-weight: bold;
}

.weAreNotAloneHeadding {
    color: #D71920;
    font-weight: bold;
}

.wearenotAloneTxt h3 {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.videoSubWrapper {
    position: relative;
    margin-bottom: 10rem;
}

.video-wrapper {
    background: url('../assets/videoBackground.png');
    background-position: center;
    background-size: cover;
    height: 36rem;
    width: 79%;
    border-radius: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 5rem auto;
    
}

.videoMainWrapper {

    background: #F7F2F1;
    position: absolute;
    display: flex;
    height: 73%;
    justify-content: space-evenly;
    align-items: flex-end;
    top: 21rem;
    z-index: -1;
}


.videoBox {
    margin-top: 5rem;
    padding-top: 3rem;

}


.react-player > video{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}





.videoDescripion {
    text-align: center;
    margin: 2rem 0;
    padding: 2rem 0;
}

.videoDescripion h4 {
    font-weight: bold;
    padding-bottom: 1rem;
}

.videoDescripion p {
    width: 70%;
    margin: 0 auto;
    color: #454545;

}

.leftSliderWrapper {
    background: url('../assets/leftimg.png');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    margin: 0 auto;
    padding: 0rem 4rem;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.infosliderMain {
    margin: 5rem 2rem;
}

.textDetails p{
    font-size: 20px;
    padding-top: 2rem;
    line-height: 1.3;
}
.viewAll {
    padding: 10px 15px;
    background: linear-gradient(90deg, #BB6868 0%, #DD8738 100%);
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 1rem;
}

.siderCards {
    padding: 1rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    margin: 1rem;
    height: 65vh;
    border-radius: 10px;
}

.slidericonWrapper h4{
    text-transform: capitalize;
    font-weight: bold;
    color: #000000;
}
.productSlider > div  p{
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 16px;
    color: #000000;

}

.productSlider {
    padding: 2rem 0;
}

.knowMore {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
    color: #000000;
    font-size: 18px;

}

.featuredmain {
    padding: 3rem 0;
    margin: 10px;
    background: #F7F2F1;

}

.featuresWrapper {
    padding: 10px;
    margin: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.featuresWrapper > div img {
    width: 100%;
}

.featurescards {
    padding: 1rem 1rem;
}

.shareBtn {
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #BB6868 0%, #DD8738 100%);
}

.footerul {
    list-style-type: none;
    padding: 0;
}
.footerul li img {
    width: 60px;
}

.FormArea {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}

.textAreaMessage {
    width: 103%;
    margin-top: 2rem;
    resize: none;
    border: 1px solid #D27D47;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: #454545;
    height: 8rem;
}

.footerTxt {
    font-size: 2rem;
}

.formMainWrapper {
    padding: 2rem;
}

.getinTouch {
    position: relative;
    margin-top: 4rem;
}

.getintouchMainDiv {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 8rem;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.forminput {
    padding: 10px;
    /* border:1px solid  linear-gradient(0deg, #D27D47, #D27D47); */
    border-radius: 10px;
    border: 1px solid #D27D47;
    cursor: pointer;
    outline: none;
    color: #454545;
}

.forminput:focus{
    color: #DD8738;
}

.btn-submit {
    background: linear-gradient(90deg, #BB6868 0%, #DD8738 100%);
    border: 1px solid transparent;
    color: white;
    font-family: "Nunito";
    outline: none;
    padding: 8px 10px;
    width: 103%;
    margin-top: 1.5rem;
    border-radius: 10px;
}


.footermain {
    background: #E48E29;
    position: absolute;
    background: #E48E29;
    position: absolute;
    top: 27rem;
    /* height: 76vh; */
    z-index: -1;
    display: flex;
    align-items: center;
}

.btn-subscribe {
    padding: 7px 30px;
    color: #000000;
    font-family: 'Nunito';
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 1rem;
}

.newletterEmial {
    padding: 8px 10px;
    color: #B9B9B9;
    border-radius: 8px;
    border: none;
    outline: none;
}

.followUSul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    cursor: pointer;
}

.followUsWrapper  {
    color: white;
   margin: 1rem 0;
}

.subscribeSpan {
    color: white;
}
.footerSocialIcons{
   width: 60px;
}

.footerLinks span {
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.footerLinks ul{
    list-style-type: none;
    padding: 0;
    color: #ffffffba;
    line-height: 1.9;
    margin-top: 0.8rem;
    font-weight:400;
    font-size: 15px;
    text-transform: capitalize;
    cursor: pointer;
}

.footerLinks ul li:hover {
    color: #ffffff;
    transition: al .3s ease;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    color:#fff;
    border-top: 1px solid #ffffffa7;
    padding: 1rem;
    font-size: 13px;
}


/* @media screen and (max-width: 1200px) {
    body {
      font-size: 14px;
    }
  } */

  @media only screen and (min-width: 768px) and (max-width: 1024px)  {
    .headerMain .navmain {
        display: none;
    }
    .loyalityManagmentRow .Loyalty ,
    .loyalityManagmentRow .personalised {
        font-size: 13px;
    }
   
  }


  
  /* Example for small screens
  @media screen and (max-width: 480px) {
    .flex-container {
      flex-direction: column;
    }
  
    .column {
      margin: 5px;
    }
  } */